/* MAIN NAVBAR */
.nav-container .bar {
	padding-top: 10px;
	padding-bottom: 10px; 
}

.nav-container .bar .bar__module {
	padding-top: 0px;
	padding-bottom: 0px;
	height: 50px;
	line-height: 50px;
}

.nav-container .bar .bar__module.mobile-dashboard-user {
	display: none;
}

.nav-container .bar .logo-link {
	display: inline-block;
}

.user-menu {
	display: inline-block;
	line-height: 50px;
	position: relative;
}

.user-menu .avatar-btn {
	border-radius: 25px;
	display: inline-block;
	margin: 0px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}

.user-menu .megamenu-user {
	position: absolute;
	top: 60px;
	right: 0px;
	width: 350px;
	z-index: 100;
	display: none;
}

.user-menu .megamenu-user.active {
	display: block;
}

.user-menu .megamenu-user .megamenu-triangle {
	width: 15px;
	height: 15px;
	top: -15px;
	right: 17.5px;
	position: absolute;
    display: inline-block;
    border-style: solid;
    border-width: 0 7.5px 13.0px 7.5px;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0;
    _border-color: #000000 #000000 #ffffff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.user-menu .megamenu-user .inside-megamenu {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: normal;
	text-align: left;
	background: #ffffff;
}

.user-menu .megamenu-user .inside-megamenu .megamenu-left {
	width: 50px;
}

.user-menu .megamenu-user .inside-megamenu .megamenu-link {
	text-decoration: none;
	font-weight: normal;
	padding: 10px 20px;
	display: block;
	color: #ACACAC;
	background: #ffffff;
}

.user-menu .megamenu-user .inside-megamenu .megamenu-link:hover {
	background: #f2f2f2;
}

.user-menu .megamenu-user .inside-megamenu .megamenu-link .megamenu-link-wr {
	font-size: 16px;
	color: #535353;
}

.user-menu .megamenu-user .inside-megamenu .megamenu-point {
	font-size: 16px;
}

.user-menu .megamenu-user .bottom-megamenu a {
	background: #6C7A89;
	display: block;
	padding: 10px 20px;
	text-align: left;
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
}

.user-menu .megamenu-user .bottom-megamenu a:hover,
.user-menu .megamenu-user .bottom-megamenu a:focus {
	background: #545f6b;
	text-decoration: none;
}


.menu-bar-close-mobile {
	display: none;
}


.bar-1 .bar__module.notif-menu {
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	margin-left: 0px;
}

.bar__module.notif-menu .btn-notif {
	font-size: 20px;
	position: relative;
	color: #767676;
	padding: 0px;
	border: 0px solid #e8e8e8;
	border-radius: 5px;
}

.bar__module.notif-menu .btn-notif .new-label {
	background: #f22613;
    position: absolute;
    top: -5px;
    right: -5px;
    color: #ffffff;
    border-radius: 5px;
    line-height: normal;
    font-size: 10px;
    padding: 2px 5px;
}

.bar__module.notif-menu .notif-wrapper-list {
	background: #ffffff;
	position: absolute;
	top: 61px;
	right: 0px;
	z-index: 99;
	width: 350px;
	text-align: left;
	display: none;
}

.bar__module.notif-menu .notif-wrapper-list.active {
	display: block;
}

.bar__module.notif-menu .notif-wrapper-list .notif-triangle {
	width: 15px;
	height: 15px;
	top: -15px;
	right: 12px;
	position: absolute;
    display: inline-block;
    border-style: solid;
    border-width: 0 7.5px 13.0px 7.5px;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0;
    _border-color: #000000 #000000 #ffffff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.bar__module.notif-menu .notif-wrapper-list .notif-label-title {
	padding: 10px 15px;
	line-height: normal;
	border-bottom: 1px solid #e8e8e8;
}

.bar__module.notif-menu .notif-wrapper-list .notif-label-title a {
	font-weight: 700;
}

.bar__module.notif-menu .notif-wrapper-list .notif-list {
	max-height: 350px;
	overflow: auto;
}

.bar__module.notif-menu .notif-wrapper-list .notif-list ul li {
	padding: 10px 15px;
	border-bottom: 1px solid #e8e8e8;
	line-height: normal;
}

.bar__module.notif-menu .notif-wrapper-list .notif-list ul li.active {
	background: #d7f3d5;
}

.bar__module.notif-menu .notif-wrapper-list .notif-list ul li a {
	color: #4f4f4f;
}

.bar__module.notif-menu .notif-wrapper-list .notif-list ul li .notif-date {
	font-size: 12px;
	color: #a0a0a0;
	margin-top: 5px;
}

.bar__module.notif-menu .notif-wrapper-list .notif-footer {
	padding: 0px;
}

.bar__module.notif-menu .notif-wrapper-list .notif-footer a {
	padding: 10px 15px;
	text-align: center;
	line-height: normal;
	display: block;
	background: #6C7A89;
	color: #ffffff;
}

.bar__module.notif-menu .notif-wrapper-list .notif-footer a:hover,
.bar__module.notif-menu .notif-wrapper-list .notif-footer a:focus {
	background: #545F6B;
	text-decoration: none;
}



/* LESSON NAVBAR */
.lesson-menu {
	width: 100%;
	z-index: 99;
	padding: 0px;
	border-bottom: 1px solid #D9D9D9;
	background: #ffffff;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
	-webkit-transition: all .5s ease-out;
  	-moz-transition: all .5s ease-out;
  	-o-transition: all .5s ease-out;
  	transition: all .5s ease-out;
}

.lesson-menu.lesson-menu-fix {
	position: fixed;
	top: 0px;
	z-index: 1000;
}

.lesson-menu .menu-title {
	line-height: 65px;
	font-size: 16px;
}

.lesson-menu.lesson-hide {
	top: -70px;
}

.lesson-menu .logo-box {
	padding: 10px 0px;
}

.lesson-menu .logo-box .logo {
	height: 45px;
	display: inline-block;
}

.lesson-menu .lesson-menu-wrapper {
	background: #ffffff;
	padding: 0px;
	margin: 0px;
	position: relative;
}

.menu-inner {
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transition: all .5s ease-out;
  	-moz-transition: all .5s ease-out;
  	-o-transition: all .5s ease-out;
  	transition: all .5s ease-out;
  	padding-top: 10px;
  	padding-bottom: 10px;
}

.menu-inner.active {
	left: 0px;
}

.lesson-menu .lesson-menu-wrapper .menu-btn {
	height: 45px;
	display: inline-block;
	background: #ffffff;
	line-height: 45px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	border: 1px solid #D9D9D9;
	color: #2f2f2f;
	text-decoration: none;
	margin-right: 10px;
	border-radius: 5px;
}

.lesson-menu .lesson-menu-wrapper .menu-btn:hover,
.lesson-menu .lesson-menu-wrapper .menu-btn.active {
	background: #ffffff;
	color: #2f2f2f;
	border: 1px solid #2f2f2f;
}

.lesson-menu .lesson-menu-wrapper .menu-btn.bars-menu {
	background: #5bc0be;
	color: #ffffff;
	border: 1px solid #5bc0be;
}

.lesson-menu .lesson-menu-wrapper .menu-btn.bars-menu:hover,
.lesson-menu .lesson-menu-wrapper .menu-btn.bars-menu.active {
	background: #6DC7C5;
	color: #ffffff;
}


.lesson-menu .lesson-menu-wrapper .menu-btn.menu-bar {
	padding-left: 0px;
	padding-right: 0px;
	width: 65px;
}

.lesson-menu .menu-bar-mobile {
	display: none;
}


/* LESSON MENU LIST */
.lesson-list-menu {
	background: #FAFAFA;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: -250px;
	width: 250px;
	z-index: 100;
	border-right: 1px solid #D9D9D9;
	overflow: auto;
	-webkit-transition: all 2s ease-out;
  	-moz-transition: all .5s ease-out;
  	-o-transition: all .5s ease-out;
  	transition: all .5s ease-out;
}

.lesson-list-menu.active {
	left: 0px;
}

.lesson-list-menu .lesson-list {
	list-style: none;
	padding: 15px;
	margin: 0px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.lesson-list-menu .lesson-list a {
	color: #515151;
	text-decoration: none;
	/*display: block;*/
}

.lesson-list-menu .lesson-list a:hover {
	color: #929292;
}

.lesson-list-menu .lesson-list a:focus,
.lesson-list-menu .lesson-list a.active {
	color: #16B3AE;
	text-decoration: none;
}

.lesson-list-menu .lesson-list li {
	
}

.lesson-list-menu .lesson-list li label {
	margin-bottom: 5px;
	font-weight: bold;
}

.lesson-list-menu .lesson-list li .submenu-lesson-list {
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
	list-style: none;
}

.lesson-list-menu .lesson-list li .submenu-lesson-list li {
	line-height: 20px;
    margin: 0px;
    padding: 5px 5px 5px 0;
    padding-left: 26px;
    position: relative;
    background: #f4f4f4;
    border-radius: 5px;
    margin-bottom: 5px;
}
.lesson-list-menu .lesson-list li .submenu-lesson-list li.active {
    background: #36a195;
}
.lesson-list-menu .lesson-list li .submenu-lesson-list li.active a {
	color: white;
}

/*.lesson-list-menu .lesson-list li .submenu-lesson-list li:before {
	content: "\f22d";
	font-family: Font Awesome\ 5 Free;
	font-weight: 900;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 28px;
	line-height: 28px;
	color: #adadad;
}
*/
.btnback-lesson {
	display: block;
	background: #95a5a6;
	color: #ffffff;
	text-decoration: none;
	height: 65px;
	line-height: 65px;
	padding-left: 15px;
	font-size: 16px;
}

.btnback-lesson:hover,
.btnback-lesson:focus {
	background: #859192;
	color: #ffffff;
	text-decoration: none;
}

.pace .pace-progress {
	background: #15B2AE;
}

.menu-bar-close-mobile {
	display: none;
}



/* NAVBAR USER DASHBOARD */
.dashboard-user-nav {
	background: #eeeeee;
}

.dashboard-user-nav ul.menu-list-dashboard {
	list-style: none;
}

.dashboard-user-nav ul.menu-list-dashboard li {
	display: inline-block;
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dashboard-user-nav ul.menu-list-dashboard li a {
	color: #868686;
	text-transform: uppercase;
	text-decoration: none;
}

.dashboard-user-nav ul.menu-list-dashboard li a:hover,
.dashboard-user-nav ul.menu-list-dashboard li a:focus {
	color: #545454;
	text-decoration: none;
}



@media (max-width: 576px) {
	.lesson-menu .lesson-menu-wrapper .menu-btn.menu-bar {
		display: none;
	}

	.lesson-menu .lesson-menu-wrapper .menu-btn.menu-back {
		display: none;
	}

	.lesson-menu .menu-bar-mobile {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		background: #ffffff;
		line-height: 65px;
		padding-left: 0px;
		padding-right: 0px;
		width: 65px;
		text-align: center;
		border-right: 1px solid #D9D9D9;
		color: #5C6E82;
		text-decoration: none;
	}

	.content-wrapper .content-body h1,
	.content-wrapper .content-header .content-title {
		font-size: 30px;
		line-height: 40px;
	}

	.lesson-list-menu {
		width: 100%;
		left: -100%;
		padding-right: 40px;
	}

	.menu-bar-close-mobile {
		display: block;
		position: fixed;
		top: 0px;
		left: auto;
		right: 100%;
		width: 40px;
		height: 40px;
		line-height: 40px;
		background: #15B2AE;
		text-align: center;
		color: #ffffff;
		-webkit-transition: all 2s ease-out;
	  	-moz-transition: all .5s ease-out;
	  	-o-transition: all .5s ease-out;
	  	transition: all .5s ease-out;
	}

	.menu-bar-close-mobile.active {
		right: 0px;
	}

	.menu-bar-close-mobile:hover {
		background: #129895;
		color: #ffffff;
	}
}